<!doctype html>
<html>
  <head>
    <title>Isomorphic React Kit</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>
  <body>
    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div id="nav">
            <%- nav %>
          </div>

          <div id="app">
            <%- content %>
          </div>

          <div id="footer">
            <%- footer %>
          </div>

        </div>

      </div>
    </div>

    <!-- app state  -->
    <script type="text/javascript">
      window.__app_state = <%- state %>
    </script>

    <!-- comment out <%- app%> to see server side rendering -->
    <script src="<%- app %>"></script>

  </body>
</html>